
<hr>
   <center style='padding-top: 15px'>
      </a>
      <a href="https://kernel.org/">
        <img border="0" alt="https://kernel.org/"" src="https://cyber.dabamos.de/88x31/linux_powered.gif" width="88" height="31">
      </a>
      <a href="https://bitwarden.com/"">
        <img border="0" alt="bitwarden" src="https://cyber.dabamos.de/88x31/bitwarden.gif" width="88" height="31">
      </a>
      <a href="https://larbs.xyz/">
        <img border="0" src="https://cyber.dabamos.de/88x31/larbs.gif" alt="larbs" width="88" height="31">
      </a>
      <a>
        <img border="0" src="https://cyber.dabamos.de/88x31/free.gif" alt="free" width="88" height="31">
      </a>
      <a >
        <img border="0"  src="https://sinewave.cyou/static/assets/badges/neovim.gif" width="88" height="31">
      </a>
      <a href="https://landchad.net">
        <img border="0" src="https://landchad.net/pix/landchad.gif" alt="free" width="88" height="31">
      </a>
      <a>
    </center>  
<footer style='padding-top: 15px'>The source code is publicly avalible on <a href="https://github.com/Sassountsi/danklinux">Github</a> licensed under gpl-2</footer>
</body>
</html>
