
<hr>
<center style='padding-top: 15px'>
    <a class="_88x31" href="https://kernel.org/">
        <img alt="linux powered" src="/88x31/linux_powered.gif">
    </a>
    <a class="_88x31" href="https://bitwarden.com/">
        <img alt="bitwarden" src="/88x31/bitwarden.gif">
    </a>
    <a class="_88x31" href="https://larbs.xyz/">
        <img alt="larbs" src="/88x31/larbs.gif">
    </a>
    <a class="_88x31" href="https://www.gnu.org/philosophy/free-sw.en.html">
        <img alt="free software" src="/88x31/free.gif">
    </a>
    <a class="_88x31" href="https://neovim.io/">
        <img alt="made with neovim" src="/88x31/neovim.gif">
    </a>
    <a class="_88x31" href="https://landchad.net/">
        <img alt="landchad" src="/88x31/landchad.gif">
    </a>
</center>
<footer>The source code is publicly avalible on <a href="https://github.com/Sassountsi/danklinux">Github</a> licensed under gpl-2</footer>
</body>
</html>
