{{file.Read "templates/html.start.tmpl"}}
    <h1>DankLinux</h1>
    <p>Dank Linux is a group of Linux nerds that believe in open source and free information!</p>
{{file.Read "templates/html.end.tmpl"}}
