{{ $root := (toml `
text = "#f2f2f2"
hover = "#ff80bf"
visited = "#bd93f9"
link = "#8be9fd"
`) -}}

@font-face {
    font-family: Montserrat;
    src: url(./fonts/montserrat-regular.woff2) format('woff2'),
        url(./fonts/montserrat-regular.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src: url(./fonts/montserrat-medium.woff2) format('woff2'),
        url(./fonts/montserrat-medium.woff) format('woff');
    font-weight: bold;
    font-display: swap;
}

html {
    color: {{$root.text}};
    background-color: #282a36;
    font-family: Montserrat;
}

body {
    margin: 0 auto;
    max-width: 42rem;
    padding: 0px 1rem 0px 1rem;
}

h1 {
    text-align: center;
}

a:hover, a:visited:hover {
  color: {{$root.hover}};
}

a:visited {
  color: {{$root.visited}};
}

a {
  text-decoration: underline;
  color: {{$root.link}};
}

*, ::before, ::after {
  box-sizing: border-box;
}

footer {
    padding-top: 15px;
}

._88x31 > img {
    border: 0px;
    width: 88px;
    height: 31px;
}

._88x31 {
    text-decoration: none;
}

#wiki-nav {
    float: left;
    width: 256px;
    margin-left: -260px;
    overflow-y: scroll;
    position: fixed;
    top: 0px;
    bottom: 0px;
}

#wiki-nav-top, .wiki-item > ul {
    padding: 0px;
    list-style-type: none;
}

.wiki-item > a, .wiki-sub-item > a {
    width: 100%;
    display: block;
    padding-left: 10px;
}

.wiki-item > a:hover, .wiki-sub-item:hover {
    background-color: #383a46;
}

.wiki-sub-item {
    padding-left: 25px;
}
