{{ $root := (toml `
text = "#f2f2f2"
hover = "#ff80bf"
visited = "#bd93f9"
link = "#8be9fd"
`) }}

@font-face {
    font-family: Montserrat;
    src: url(./fonts/montserrat-regular.woff2) format('woff2'),
        url(./fonts/montserrat-regular.woff) format('woff');
}

@font-face {
    font-family: Montserrat;
    src: url(./fonts/montserrat-medium.woff2) format('woff2'),
        url(./fonts/montserrat-medium.woff) format('woff');
    font-weight: bold;
}

html {
    color: {{$root.text}};
    background-color: #282a36;
    font-family: Montserrat;
}

body {
    margin: 0 auto;
    max-width: 42rem;
}

h1 {
    text-align: center;
}

a:hover, a:visited:hover {
  color: {{$root.hover}};
}

a:visited {
  color: {{$root.visited}};
}

a {
  text-decoration: underline;
  color: {{$root.link}};
}

*, ::before, ::after {
  box-sizing: border-box;
}
